/* assets/core/base.css */

body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.php-email-form .error-message {
    display: none;
    margin-bottom: 24px;
    padding: 15px;
    color: #ffffff;
    background: #df1529;
    font-weight: 600;
    text-align: left;
}

.php-email-form .sent-message {
    display: none;
    margin-bottom: 24px;
    padding: 15px;
    color: #ffffff;
    background: #059652;
    font-weight: 600;
    text-align: center;
}

.php-email-form .loading {
    display: none;
    margin-bottom: 24px;
    padding: 15px;
    background: var(--surface-color);
    text-align: center;
}

.php-email-form .loading::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--surface-color);
    border-radius: 50%;
    animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
