/* assets/core/token.css */

:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --page-font: var(--default-font);
    --heading-font: "Nunito", var(--default-font);
    --nav-font: var(--default-font);
    --background-color: #ffffff;
    --default-color: #212529;
    --heading-color: #2d465e;
    --accent-color: #f75815;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --nav-color: #000000;
    --nav-hover-color: #f75815;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #212529;
    --nav-dropdown-hover-color: #f75815;
    scroll-behavior: smooth;
}

.light-background {
    --background-color: #f9f9f9;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}
